%section#hero
  .show-for-medium-up
    %video#bgvid{:autoplay => "", :loop => ""}
      %source{:src => "https://s3.amazonaws.com/Nooga-Startups/CHA_2.m4v", :type => "video/mp4"}
  .show-for-small-only
    #bgsmall
  .row
    .small-12.medium-9.small-centered.column
      %h1 Nooga Startups
      %h3.show-for-medium-up A showcase of internet companies and startups founded right here in Chattanooga, TN
      %a.button{:href => "/jobs"} Find A Job

%section#startups
  .row
    .text-center.small-12.column
      .row
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://ambition.com", :target => "_blank"}
            =image_tag("ambition.png", alt: "Office productivity with a purpose", title: "Ambition")
            %h2.large-only-text-left Ambition
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://americanexchange.com", :target => "_blank"}
            =image_tag("american.png", alt: "Health coverage for all", title: "American Exchange")
            %h2.large-only-text-left American Exchange
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://audiencepoint.com/", :target => "_blank"}
            =image_tag("audience.png", alt: "Send time optimization", title: "Audience Point")
            %h2.large-only-text-left Audience Point
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://getbellhops.com", :target => "_blank"}
            =image_tag("bellhops.png", alt: "Get college students for moving help", title: "Bellhops")
            %h2.large-only-text-left Bellhops
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://causeway.org", :target => "_blank"}
            =image_tag("causeway.png", alt: "Where there's a cause, there's a way", title: "Causeway")
            %h2.large-only-text-left Causeway
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://colab.co", :target => "_blank"}
            =image_tag("colab.png", alt: "From idea to business", title: "CoLab")
            %h2.large-only-text-left Company Lab
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://delegator.com", :target => "_blank"}
            =image_tag("delegator.png", alt: "Get it done", title: "Delegator")
            %h2.large-only-text-left Delegator
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://fancyrhino.com", :target => "_blank"}
            =image_tag("fancy.png", alt: "We are animal", title: "Fancy Rhino")
            %h2.large-only-text-left Fancy Rhino
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://fanjam.com", :target => "_blank"}
            =image_tag("fanjam.png", alt: "One-day fantasy basketball for cash", title: "FanJam")
            %h2.large-only-text-left FanJam
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://feetz.com", :target => "_blank"}
            =image_tag("feetz.png", alt: "Custom fit, 3D printed shoes made for you", title: "Feetz")
            %h2.large-only-text-left Feetz
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://lamppostgroup.com", :target => "_blank"}
            =image_tag("lpg.png", alt: "Pursue your passion, build your business", title: "Lamp Post Group")
            %h2.large-only-text-left Lamp Post Group
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://nooga.com", :target => "_blank"}
            =image_tag("nooga.png", alt: "Chattanooga news, entertainment, opinion, editorials.", title: "Nooga News")
            %h2.large-only-text-left Nooga.com
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://pricewaiter.com", :target => "_blank"}
            =image_tag("pricewaiter.png", alt: "Making free markets freer", title: "PriceWaiter")
            %h2.large-only-text-left PriceWaiter
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://quickcue.com", :target => "_blank"}
            =image_tag("quickcue.png", alt: "The smarter way to host your guests", title: "Quickcue")
            %h2.large-only-text-left Quickcue
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://reliancepartners.com", :target => "_blank"}
            =image_tag("reliance.png", alt: "Your trusted insurance providor", title: "Reliance Partners")
            %h2.large-only-text-left Reliance Partners
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://rootsrated.com", :target => "_blank"}
            =image_tag("rootsrated.png", alt: "Where to Go Outdoors", title: "RootsRated")
            %h2.large-only-text-left RootsRated
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://smartfurniture.com", :target => "_blank"}
            =image_tag("smart.png", alt: "Design your way", title: "Smart Furniture")
            %h2.large-only-text-left SmartFurniture
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://societyofwork.com", :target => "_blank"}
            =image_tag("sow.png", alt: "Connect. Create. Cowork.", title: "Societ of Work")
            %h2.large-only-text-left Society of Work
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://southtree.com", :target => "_blank"}
            =image_tag("southtree.png", alt: "Memories matter, preserve yours", title: "Southtree")
            %h2.large-only-text-left Southtree
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://spire.me", :target => "_blank"}
            =image_tag("spire.png", alt: "Community you can count on", title: "Spire")
            %h2.large-only-text-left Spire
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://steamlogistics.com", :target => "_blank"}
            =image_tag("steam.png", alt: "A new force in international logistics", title: "Steam Logistics")
            %h2.large-only-text-left Steam Logistics
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://supplyhog.com", :target => "_blank"}
            =image_tag("supplyhog.png", alt: "Get. Ship. Done.", title: "SupplyHog")
            %h2.large-only-text-left SupplyHog
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://variableinc.com", :target => "_blank"}
            =image_tag("variable.png", alt: "We are a world of gadgeteers", title: "Variable Technologies")
            %h2.large-only-text-left Variable
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://waypaverlabs.corg", :target => "_blank"}
            =image_tag("waypaver.png", alt: "THE SKY'S NOT THE LIMIT.", title: "Waypaver Labs")
            %h2.large-only-text-left Waypaver Labs
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://wecounsel.com", :target => "_blank"}
            =image_tag("wecounsel.png", alt: "An online therapy innovation", title: "We Counsel")
            %h2.large-only-text-left WeCounsel
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://whiteboard.is", :target => "_blank"}
            =image_tag("whiteboard.png", alt: "We empower visionaries to lead meaningful brands.", title: "Whiteboard")
            %h2.large-only-text-left Whiteboard
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://woople.com", :target => "_blank"}
            =image_tag("woople.png", alt: "Simple eLearning for your organization", title: "Woople")
            %h2.large-only-text-left Woople
        .medium-6.large-4.columns
          %a.startups-entry{:href => "http://zipflip.com", :target => "_blank"}
            =image_tag("zipflip.png", alt: "Safer.Smarter.Simpler.", title: "Zipflip")
            %h2.large-only-text-left Zipflip
