%section#page
  .row
    .large-12.columns
      %h1
        City Guide
  .row
    .large-10.columns{role: "content"}
      %h3
        Coffee Shops
      .row
        .large-10.columns
          %ul
            %li
              %a{href: "https://goo.gl/maps/BPgu7", :target => "_blank"} The Camphouse
            %li
              %a{href: "https://goo.gl/maps/BYnV6", :target => "_blank"} Rembrandt's Coffee House & Cafe
            %li
              %a{href: "https://goo.gl/maps/jY7bV", :target => "_blank"} Niedlov’s Bakery
            %li
              %a{href: "https://goo.gl/maps/5pyLe", :target => "_blank"} Mean Mug Coffeehouse
            %li
              %a{href: "https://goo.gl/maps/do8Xk", :target => "_blank"} Cadence Coffee
            %li
              %a{href: "https://goo.gl/maps/6lIuc", :target => "_blank"} Greyfriar’s Coffee & Tea Co.
            %li
              %a{href: "https://goo.gl/maps/0TOsf", :target => "_blank"} Brash Coffee
  .row
    .large-10.columns{role: "content"}
      %h3
        Food
      .row
        .large-10.columns
          %ul
            %li
              %a{href: "https://goo.gl/maps/rv32x", :target => "_blank"} The Terminal Brewhouse
            %li
              %a{href: "https://goo.gl/maps/BPgu7"} The Camphouse
            %li
              %a{href: "https://goo.gl/maps/hPQhO", :target => "_blank"} Urban Stack
            %li
              %a{href: "https://goo.gl/maps/u2iCN", :target => "_blank"} Community Pie
            %li
              %a{href: "https://goo.gl/maps/vpOBz", :target => "_blank"} Chattanooga Billiard Club
            %li
              %a{href: "https://goo.gl/maps/TYXSE", :target => "_blank"} Blue Water Grill
            %li
              %a{href: "https://goo.gl/maps/9Lld8", :target => "_blank"} Big River Grille
            %li
              %a{href: "https://goo.gl/maps/Q26Kx", :target => "_blank"} Taco Mamacita
            %li
              %a{href: "https://goo.gl/maps/IDNzL", :target => "_blank"} Lupi's Pizza
            %li
              %a{href: "https://goo.gl/maps/I3Lwx", :target => "_blank"} Blue Plate
            %li
              %a{href: "https://goo.gl/maps/jYlxF", :target => "_blank"} Public House
            %li
              %a{href: "https://goo.gl/maps/q187d", :target => "_blank"} Porkers
            %li
              %a{href: "https://goo.gl/maps/M1vuc", :target => "_blank"} Easy Bistro
            %li
              %a{href: "https://goo.gl/maps/VTIRv", :target => "_blank"} Sekisui
            %li
              %a{href: "https://goo.gl/maps/8e62T", :target => "_blank"} Genghis Grill
            %li
              %a{href: "https://goo.gl/maps/ppjgf", :target => "_blank"} Conga
            %li
              %a{href: "https://goo.gl/maps/ABB6a", :target => "_blank"} Tacqueria Jalisco
            %li
              %a{href: "https://goo.gl/maps/hWEmK", :target => "_blank"} Mojo Burrito
            %li
              %a{href: "https://goo.gl/maps/qUvZd", :target => "_blank"} La Altena
            %li
              %a{href: "https://goo.gl/maps/MoHdd", :target => "_blank"} Hair of the Dog
            %li
              %a{href: "https://goo.gl/maps/7QBjg", :target => "_blank"} Brewhaus
            %li
              %a{href: "https://goo.gl/maps/Ces84", :target => "_blank"} Tony's Pasta Shop & Trattoria
            %li
              %a{href: "https://goo.gl/maps/BYnV6", :target => "_blank"} Rembrandt's
            %li
              %a{href: "https://goo.gl/maps/fAMSx", :target => "_blank"} Beast + Barrel
            %li
              %a{href: "https://goo.gl/maps/NTqe7", :target => "_blank"} 212 Market
            %li
              %a{href: "https://goo.gl/maps/QZ26p", :target => "_blank"} Champy's
            %li
              %a{href: "https://goo.gl/maps/MDmd9", :target => "_blank"} Crust Pizza
            %li
              %a{href: "https://goo.gl/maps/irylW", :target => "_blank"} Mellow Mushroom
            %li
              %a{href: "https://goo.gl/maps/mLJvy", :target => "_blank"} Go Bagel
            %li
              %a{href: "https://goo.gl/maps/OQQSY", :target => "_blank"} Alleia
            %li
              %a{href: "https://goo.gl/maps/AJJMR", :target => "_blank"} Good Dog
            %li
              %a{href: "https://goo.gl/maps/EcfOM", :target => "_blank"} Hill City Pizza
            %li
              %a{href: "https://goo.gl/maps/Bzzr6", :target => "_blank"} Sticky Fingers
            %li
              %a{href: "https://goo.gl/maps/iPjmd", :target => "_blank"} Jimmy Johns
  .row
    .large-10.columns{role: "content"}
      %h3
        Bars
      .row
        .large-10.columns
          %ul
            %li
              %a{href: "https://goo.gl/maps/VGmFp", :target => "_blank"} The Social
            %li
              %a{href: "https://goo.gl/maps/9Lld8", :target => "_blank"} Big River Grille
            %li
              %a{href: "https://goo.gl/maps/3T0ak", :target => "_blank"} Tremont Tavern
            %li
              %a{href: "https://goo.gl/maps/EcfOM", :target => "_blank"} Hill City
            %li
              %a{href: "https://goo.gl/maps/fAMSx", :target => "_blank"} Beast + Barrel
            %li
              %a{href: "https://goo.gl/maps/u2iCN", :target => "_blank"} Community Pie
            %li
              %a{href: "https://goo.gl/maps/bdxMW", :target => "_blank"} Local 191
            %li
              %a{href: "https://goo.gl/maps/hPQhO", :target => "_blank"} Urban Stack
            %li
              %a{href: "https://goo.gl/maps/rv32x", :target => "_blank"} Terminal Brewhouse
            %li
              %a{href: "https://goo.gl/maps/7QBjg", :target => "_blank"} Brewhaus
            %li
              %a{href: "https://goo.gl/maps/MoHdd", :target => "_blank"} Hair of the Dog Pub
            %li
              %a{href: "https://goo.gl/maps/vpOBz", :target => "_blank"} Chattanooga Billiard Club
            %li
              %a{href: "https://goo.gl/maps/M1vuc", :target => "_blank"} Easy Bistro & Bar
