%footer
  .row
    .large-12.columns
      - unless homepage?
        %hr
      .row
        .large-8.columns
          %p
            Created by
            %a{:href => "https://twitter.com/tonigemayel"}Toni,
            %a{:href => "https://twitter.com/tjweigel"}TJ,
            %a{:href => "http://fancyrhino.com/"}Fancy,
            and our awesome
            %a{:href => "https://github.com/Tgemayel/Nooga-Startups/graphs/contributors"} community.
        .large-4.columns
