%footer
  .row
    .small-8.columns
      %p
        Created by the 
        %a{:href => "https://twitter.com/tonigemayel/fanjam/members"} FanJam team
        and our awesome
        %a{:href => "https://github.com/Tgemayel/Nooga-Startups/graphs/contributors"} community.
    .small-4.columns


